<select>
<option hisname="Pia Sayang" msg="21, angka 2 menandakan bahwa hidup kita mulai berliku dan angka 1 menandakan ini awal pertama, semoga kamu sehat selalu dan dilindungi allah" sender="Daus Pacar Pia"  src2="https://3.bp.blogspot.com/-FqlektBVvjo/VxCvKL3-G-I/AAAAAAAAA1k/OXsNZpVYIXU/s000/facebook.png" 
 value2="https://api.whatsapp.com/send?phone=6287710253841&text=aku%20sayang%20pia." /> 
</select>
