<select>
<option hisname="Pia Sayang" msg="Happy Birthday Fira, Semoga Panjang Umur, Sehat Selalu, Makin Dewasa dan Rajin Ibadah, Serta Harapan2nya sll tercapai,amin ^_^" sender="From : Akhsan"  src2="https://3.bp.blogspot.com/-FqlektBVvjo/VxCvKL3-G-I/AAAAAAAAA1k/OXsNZpVYIXU/s000/facebook.png" 
 value2="http://facebook.com/akhsanu.imali.1" /> 
</select>
